@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
    --color-btn-play: rgba(87, 84, 236, 1);
    --color-btn-xbox: rgba(28, 122, 28, 1);
    --color-hover-play: rgba(87, 84, 236, 0.7);
    --color-hover-xbox: rgba(43, 43, 43, 0.8);
    --hover-width: 75%;
    --other-width: 25%;
    --speed: 1000ms;    
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

h1 {
    font-size: 3rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    text-decoration: none;
    color: #fff;
    border: #fff solid 0.2rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    width: 12rem;
    padding: 1.5rem;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    background: #333;
}

.metade {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.metade.play {
    left: 0;
    background: url('https://wallpapercave.com/wp/wp6560185.jpg') center;
    background-repeat: no-repeat;
    background-size: cover;
}

.metade.play::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--color-hover-play);
}

.metade.xbox::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--color-hover-xbox);
}

.metade.play .btn:hover {
    background-color: var(--color-btn-play);
    border-color: var(--color-btn-play)
}

.metade.xbox .btn:hover {
    background-color: var(--color-btn-xbox);
    border-color: var(--color-btn-xbox)
}

.metade.xbox {
    right: 0;
    background: url('https://www.hardware.com.br/filters:format:(jpeg)/@/static/wp/2019/12/14/90-3.jpg') center;
    background-repeat: no-repeat;
    background-size: cover;
}

.metade.play, .metade.xbox, .metade.play::before, .metade.xbox::before {
    transition: all var(--speed) ease-in-out;
}

.hover-left .play {
    width: var(--hover-width);
}

.hover-left .xbox {
    width: var(--other-width);
}

.hover-right .xbox {
    width: var(--hover-width);
}

.hover-right .play {
    width: var(--other-width);
}

@media (max-width: 800px) {
    h1 {
        font-size: 2rem;
    }

    .btn {
        padding: 1.2rem;
        width: 12rem;
    }
}
